.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 38vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

main {
  background-color: #282c34;
  min-height: 70vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

p {
  margin: 0px;
}
